body {
    margin: 0;
    background-color: #F0F0F0;
}

.navbar {
    background-color: #12486B;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.navbar-links {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-family: 'Arimo', sans-serif;
}

.navbar-links:hover {
    background-color: #F5FCCD;
    color: black;
    border-radius: 10px;
    padding: 0 10px;
}

.main-container {
    background-image: url(.//pics/Julia\ in\ Barcelona-fotor-2024020118386.png);
    background-size:cover;
    background-position: center;
    height: 1200px;
}

.main-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arimo', sans-serif;
}

h1 {
    font-size: 55px;
    color: #12486B;
    margin-top: 50px;
}

h3 {
    font-size: 30px;
    color: #12486B;
}

.about-guide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 120px;
    font-family: 'Arimo', sans-serif;
}

.about-guide {
    align-self: center;
}

#myVideo {
    width: 100%;
    align-self: center;
}

.about-guide-text {
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    margin: 0;
}

.icons {
    margin-top: 40px;
    color: #12486B;
}


.icon {
    text-decoration: none;
    cursor: pointer;
}

h2 {
    margin-top: 30px;
    text-align: center;
    font-size: 50px;
    font-family: 'Arimo', sans-serif;
    color: #12486B;
}

#excursions {
    margin: 0 120px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-style {
    background-color: #419197;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
}

.button-style:hover {
    background-color: #F5FCCD;
    color: black;
}

.excursions {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 30px;
}

.excursion-positioning {
    padding: 20px;
    text-align: center;
}

.excursion-title-block {
    height: 60px;
}
.excursion-title {
    font-size: 25px;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    color:#12486B;
    font-weight: 600;
}
.excursion-image {
    box-shadow: 2px 2px 2px 2px #66b1e2;
}
.carousel-container {
    display: flex;
    justify-content: center;
}
.carousel {
    width: 350px;
}
.testimonial-pic {
    width: 100%;
}
.footer {
    background-color: #12486B;
    padding: 10px;
}
  .footer-text {
    color: white;
    font-family: 'Arimo', sans-serif;
}
  .footer-icons {
    display: flex;
    justify-content: center;
  }
  #footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Egert {
    text-decoration: none;
    color: orange;
  }

@media all and (max-width: 825px) {
    .main-container  {
        height: 600px;
    }
    .main-container-text {
        text-align: center;
    }
    h1 {
        font-size: 40px;
        margin: 20px;
        color: #ffffff;
    }
    h3 {
        color: #ffffff;
    }
    .about-guide-text {
        text-align: center;
    }
    .about-guide-container {
        margin-left: 50px;
        margin-right: 50px;
    }
    .excursions {
        display: flex;
        flex-direction: column;
    }
    .excursion-image {
        width: 500px;
    }
}

@media all and (max-width: 1300px) {
    .excursions {
        display: flex;
        flex-direction: column;
    }
}

@media all and (max-width: 550px) {
    .main-container  {
        background-position: 45% 55%;
        height: 500px;
    }
    .navbar {
        flex-direction: column;
        align-items:center;
        padding: 10px;
    }
    .navbar-links {
        line-height: 40px;
        font-size: 20px;
    }
    h1 {
        font-size: 30px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 50px;
    }
    h2 {
        font-size: 30px;
        margin-top: 0;
    }
    h3 {
        font-size: 25px;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .about-guide-text {
        font-size: 17px;
    }
    .icon-pic {
        width: 70px;
        height: 70px;
    }
    #excursions {
        margin: 0 50px;
    }
    .excursion-title {
        font-size: 17px;
    }
    .excursion-image {
        width: 350px;
    }
    .footer-text {
        text-align: center;
        font-size: 13px;
    }
    .footer {
        padding: 5px;
    }
}
@media all and (max-width: 420px) {
    .main-container  {
        height: 350px;
    }
    h2 {
        font-size: 25px;
    }
    .about-guide-text {
        font-size: 15px;
    }
    #excursions {
        margin: 0 20px;
    }
    .excursion-image {
        width: 300px;
    }
    .carousel {
        width: 300px;
    }
}
@media all and (max-width: 300px) {
    .main-container  {
        height: 350px;
    }
    h2 {
        font-size: 25px;
    }
  
    #excursions {
        margin: 0 10px;
    }
    .excursion-image {
        width: 220px;
    }
    .carousel {
        width: 220px;
    }
}